extends ../layout.pug

block variables
    - var body_class = `${queryString.active_tab}`

block content
    .container.d-flex.flex-column.directions-container
        h4 From SCG 100 years building to Central World.
        h4 Travel Mode: #{mode}, Via #{route.summary}, Total Time #{route.legs[0].duration.text}, Total Distance #{route.legs[0].distance.text}

        .col-12.d-flex.justify-content-center
            ul.list-group.col-6
                each step in route.legs[0].steps
                    li.list-group-item.d-flex
                        .description.col-10 !{step.html_instructions}
                        .details.col-2
                            p.duration #{step.duration.text}
                            p.distance #{step.distance.text}

